body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.note {
    color: black;
}

.form {
    background-color: white;
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.title {
    color: red;
}

.required {
    color: red;
}

.amount-group {
    font-weight: normal;
    margin-right: 10px;
}

.buttons {
    margin-top: 20px;
}


